body{width:800px; margin: 0 auto; background-color:red;}
h1{font-family:cooper black;}
form{width:400px; font-family:charcoal cy; margin-top:50px; padding-left:10px;}
input{margin-top:20px;  height: 32px; outline:none; border-radius:5px; padding-left:10px; border: 1px solid #D$D8E1;}
